<h1> 'Hi there," <%=userName%>  </h1>


<h2> We put enneagrams here. </h2>

<p>
Troy
my enneagram = 1.
on g/h @tgwisdom
this repo = ... scaling-potato
</p>

<!-- TODO: create issue, all update this page -->


<form method="post" action="/saveToNode">
    <label>do that data!</label>
    <input type="text" name="userName">
    <input type="submit" value="send to node via express">
</form>